[Unit]
Description=vk.com set online status service
After=network.target network-online.target nss-lookup.target

[Service]
Type=simple
ExecStart=/home/USERNAME/.local/share/emilecok/vk0nline/vk0nline.py

[Install]
WantedBy=default.target
