[Unit]
Description=vk.com set online status timer

[Timer]
OnBootSec=1min
OnUnitActiveSec=4min
Persistent=true     
Unit=vk0nline.service

[Install]
WantedBy=default.target
